@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[95%] sm:max-w-[620px] md:max-w-[740px] lg:max-w-[1000px] xl:max-w-[1180px];
}

@font-face {
  font-family: Comfortaa;
  font-weight: 400;
  src: url(assets/fonts/Comfortaa-Regular.ttf);
}
@font-face {
  font-family: Comfortaa;
  font-weight: 500;
  src: url(assets/fonts/Comfortaa-Medium.ttf);
}
@font-face {
  font-family: Comfortaa;
  font-weight: 300;
  src: url(assets/fonts/Comfortaa-Light.ttf);
}
@font-face {
  font-family: Comfortaa;
  font-weight: 600;
  src: url(assets/fonts/Comfortaa-SemiBold.ttf);
}
@font-face {
  font-family: Comfortaa;
  font-weight: 700;
  src: url(assets/fonts/Comfortaa-Bold.ttf);
}

body {
  font-family: "Comfortaa", Nunito, "sans-serif";
}
