@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-[95%] sm:max-w-[620px] md:max-w-[740px] lg:max-w-[1000px] xl:max-w-[1180px] text-main-white;
}

@font-face {
  font-family: Comfortaa;
  font-weight: 400;
  src: url(assets/fonts/Comfortaa-Regular.woff2) format('woff2'),
    url(assets/fonts/Comfortaa-Regular.woff) format('woff'),
    url(assets/fonts/Comfortaa-Regular.ttf) format('ttf');
  font-display: block;
}
@font-face {
  font-family: Comfortaa;
  font-weight: 700;
  src: url(assets/fonts/Comfortaa-Bold.woff2) format('woff2'),
    url(assets/fonts/Comfortaa-Bold.woff) format('woff'),
    url(assets/fonts/Comfortaa-Bold.ttf) format('ttf');
  font-display: block;
}

body {
  font-family: "Comfortaa", "Nunito", serif;
}

.card-container {
  position: relative;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.5s;
}

.card-rus.flip-rus {
  transform: rotateX(-180deg);
}

.card-eng.flip-eng {
  transform: rotateX(0deg);
}

.anim-delay-300 {
  animation-delay: 300ms;
}

.card-rus {
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(0deg);
  transition: 0.5s;
}

.card-eng {
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: 0.5s;
}


.white-img {
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(117deg) brightness(111%)
    contrast(99%);
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
